@import '../Navigation/style.css';

.window__no-task {
    margin: 24px;
    max-width: 100%;
    height: 630px;
    border:1px solid var(--border-color-default);
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.window__inner {
    text-align: center;
    margin: 0 auto;
}

.window-btn {
    margin-top: 10px;
    padding: 12px 16px;
    cursor: pointer;
    color: var(--font-color-secondary);
    background-color: var(--bg-color-primary);
    border: none;
    border-radius: 4px;
}

.window-btn:hover {
    background-color: var(--bg-color-primary-hover);
}